@model VayCayPlannerWeb.Models.ViewModels.Destination_vm;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Destination</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isMealsIncluded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isMealsIncluded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isActivityIncluded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isActivityIncluded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TripId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TripId)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="TripDestinations" asp-route-id="@Model?.TripId">Back to List</a>
</div>
