@model VayCayPlannerWeb.Data.Models.Lodging

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lodging</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxOccupancy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxOccupancy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CleaningFees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CleaningFees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherFees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherFees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
