@model IEnumerable<VayCayPlannerWeb.Models.ViewModels.Trip_vm>


@{
    ViewData["Title"] = "Trips";
}

<h1>Trips</h1>

<p>
    <a asp-action="Create">Create New</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartInDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalTravelers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDestinations)
            </th>
            @*<th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartInDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTravelers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDestinations)
            </td>

            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa-sharp fa-solid fa-circle-info"></i></a>
                
                <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button"><i class="fa-solid fa-trash-can"></i></button>
                <button data-id="@item.Id" class="btn btn-primary destinationBtn" asp-route-id="@item.Id" type="button"> Add Destination</button>
                <button data-id="@item.Id" class="btn btn-primary viewDestinationBtn" asp-route-id="@item.Id" type="button"> View Destinations</button>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteForm" asp-action="Delete">   
    <input type="hidden" id="Id" name="Id"/>
</form>
<form id="destinationForm" asp-action="PopulateTrip" asp-controller="Destinations">
    <input type="hidden" asp-controller="Destinations" asp-action="PopulateTrip" id="AddToTripId" name="Id" />
</form>
<form id="tripDestinationForm" asp-action="TripDestinations" asp-controller="Destinations">
    <input type="hidden" asp-controller="Destinations" asp-action="TripDestinations" id="viewDestinationsTripId" name="Id" />
</form>

@*sweet client side lib*@
@section Scripts{
    <script>
        $(function(){
            $('.table').DataTable();
            ////https://datatables.net/examples/styling/bootstrap5
            $('.deleteBtn').click(function(e) {
                swal({
                    title: "Are you sure?",
                    text: "Are you sure you want to delete",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if(confirm){
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#Id').val(id);
                        $('#deleteForm').submit();
                    }
                });
            });
        });
         
            $('.destinationBtn').click(function (e) {
                swal({
                    title: "Add a Destination",
                    text: "Adding a Destination",
                    icon: "information",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                    $('#AddToTripId').val(id);
                        $('#destinationForm').submit();
                    }
                });
            });

            $('.viewDestinationBtn').click(function (e) {
                swal({
                    title: "View Destination",
                    text: "View the trip Destinations",
                    icon: "information",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#viewDestinationsTripId').val(id);
                            $('#tripDestinationForm').submit();
                    }
                });
            });

    </script>

}