@model VayCayPlannerWeb.Data.Models.Transport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureDestinationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureDestinationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stops)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stops)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isRoundTrip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isRoundTrip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isInsured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isInsured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isPointsUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isPointsUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDestination.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
